---
title: Sean Yeh - Kinect + Overtone Installation
---

<div class="center-box">
    <p>
    <img src="/images/projects/kinectovertone/cover_cropped.jpg" width="100%">
    </p>

    <h2>
        Kinect + Overtone Project
    </h2>

    <p>
    The Kinect Overtone Installation is a media art project to experiment with
    using physical gestures to modify sound. For example, one aspect was using
    hand movements to control the speed of a MIDI file being played &mdash;
    almost acting as a conductor of sorts.
    </p>

    <p>
    As the name suggests, I used an Xbox Kinect for the motion sensor and
    <a href="http://overtone.github.io/">Overtone</a>, a Clojure toolkit for
    programming music. I also created visual effects with
    <a href="https://processing.org/">Processing</a>.
    Check out the code <a href="https://github.com/seanyeh/MusicMovementKinect/">here</a>.
    </p>

    <p>
    In my final year at Juilliard, I set up a multimedia installation in the
    school lobby, where passersby could watch and interact with it.
    </p>

    <p>
    Unfortunately, I was not able to get a video recording of the installation,
    but below are some pictures that were taken of the event.
    </p>

    <p>
    <img src="/images/projects/kinectovertone/setup.jpg" width="100%">
    </p>

    <p>
    <img src="/images/projects/kinectovertone/pic1.jpg" width="100%">
    </p>

    <p>
    <img src="/images/projects/kinectovertone/pic2.jpg" width="100%">
    </p>

</div>
