---
title: Sean Yeh - Recital Pal
---


<div class="center-box">
    <p>
    <img src="/images/projects/recitalpal/cover_small.jpg" width="100%">
    </p>

    <h2>Recital Pal</h2>

    <p>
    Recital Pal is an experiment to create a smartphone app for audience
    members to follow along the program and music scores during a music
    recital. Because smartphone use is generally considered inappropriate during
    most formal recitals, Recital Pal is primarily geared for informal
    performance situations, such as studio classes and playing for friends.
    </p>

    <p>
    Recital Pal grew out of a need of mine when I was running through my
    recital program on a weekly basis in preparation for competitions. Having
    an easy way for my colleagues to follow along the program and music scores
    was invaluable for getting feedback. Thus, I created Recital Pal, which
    worked quite well.
    </p>

    <p>
    Recital Pal is a web app that can be deployed on any web server, and can
    also easily be turned into a installable app with something like
    <a href="https://cordova.apache.org/">Apache Cordova</a>.
    </p>

    <p>
    <a href="https://recitalpaldemo.seanyeh.com/">Here</a>
    is a demo for one my recitals where I used Recital Pal
    (best viewed on a smartphone)
    </p>
</div>
