<% wrap_layout :base do %>
<div id="teaching" class="center teaching-class">
    <h1>
        <%= current_page.data.title %>
    </h1>

    <div class="page-content">
        <%= yield %>
    </div>
<% end %>

