<div class="center-box">
    <p>
    <a href="/pages">â† back to blog</a>
    </p>

    <h3>
        Pages with tag: <i><%= tag %></i>
    </h3>

    <% pages.each do |p|%>
        <%= to_abstract_html(p) %>
    <% end %>

</div>
