---
title: Sean Yeh - Home
---


<div id="home-menu" class="center-box">

    <%= gen_icon_item("music", "/music/", "piano and media art", "biography, videos, multimedia projects") %>
    <%= gen_icon_item("code", "/code/", "software and app development", "Open source projects") %>
    <%= gen_icon_item("teaching", "/teaching/", "teaching", "music theory, piano, computer science at Northwestern University") %>
    <%= gen_icon_item("pages", "/pages/", "blog", "essays and thoughts") %>


    <div id="social-media">
        <a href="https://www.youtube.com/channel/UCrFi4x98f3WaVMFrm720DUA">
            <img src="/images/youtube.png">
        </a>

        <a href="https://github.com/seanyeh">
            <img width="48" src="/images/github.png">
        </a>
    </div>

</div>
